<div class="container">
	<div class="row">
		<div class="col-md-12">
			<form (ngSubmit)="onSubmit(f)" #f="ngForm">
				<div class="form-group">
					<label class="form-label" for="firstname">First Name</label>
					<input class="form-control" type="text" name="firstname" ngModel id="firstname" #nameinput>
				</div>
				<div class="form-group">
					<label class="form-label" for="lastname">last Name</label>
					<input class="form-control" type="name" name="lastname" ngModel id="lastname">
				</div>
				<div class="form-group">
					<label class="form-label" for="email">Email</label>
					<input class="form-control" type="email" name="email" ngModel id="email">
				</div>
				<button class="btn" type="submit">Submit</button>
			</form>
		</div>
	</div>
</div>